{% extends "base.html" %}

{% block title %}Elimina account{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <h2 class="second-title">Eliminazione account</h2>
    
    <div class="info-elimina">
        <p>Vuoi davvero eliminare il tuo account?</p>
        <p>Verranno eliminate tutte le informazioni, compresi i prodotti acquistati/pubblicati.</p>
        <p>L'operazione è irreversibile.</p>
        <a href="{{ next }}"><button type="button" class="button-modifica">Annulla</button></a>
        <a href="{% url "elimina_account" user.pk %}?commit=True"><button type="button" class="button-elimina">Conferma</button></a>
    </div>
{% endblock %}