{% extends "base.html" %}

{% load static %}

{% block title %} {{ utente.nome }} {% endblock %}

{% block content %}
    
    <h2>{{ acquirente.nome }}</h2>

    <img src="{% static acquirente.foto_profilo %}" alt="foto profilo" width="180" height="180">
    
    <p><strong>Biografia:</strong></p>
    <p>{{ acquirente.biografia }}</p>
    
    <h3>Giochi posseduti:</h3>
    <ul>
    {% for p in acquirente.prodotti.all %}
        <li><a href="{% url "pagina_negozio" p.pk %}">{{ p.titolo }}</a></li>
    {% endfor %}
    </ul>
    
    {% if next %}
        <p><a href="{{ next }}?terms={{ terms }}">Torna ai risultati della ricerca</a></p>
    {% endif %}
    
    {% include "footer.html" %}

{% endblock %}