{% extends "base.html" %}

{% load static %}

{% block title %} {{ object.nome }} {% endblock %}

{% block content %}
    
    <h2>{{ object.nome }}</h2>
    
    {% if object.oscurato and not object.user == user and not user.is_staff %}
        <p class="p-ban">Questo profilo è stato oscurato perchè non rispetta le norme di Main Quest</p>
    {% else %}
        
        {% if object.oscurato %}
            <p class="p-ban">Questo profilo è stato oscurato perchè non rispetta le norme di Main Quest</p>
        {% endif %}
    
        {% if user.is_staff %}
            <p class="p-ban"><a href="{% url "oscura_elemento" object.pk %}?classe=Venditore&next={% url "utenti:profilo_venditore" object.pk %}"><button type="button" class="button-ban">Oscura venditore</button></a></p>
        {% endif %}
        
        <div class="foto-profilo-container">
            <img src="{% static object.foto_profilo.url %}" alt="foto profilo">
        </div>
        
        <h3>Giochi pubblicati:</h3>
        <ul class="lista-giochi">
        {% for p in object.prodotti.all %}
            <li>
                <a href="{% url "prodotti:pagina_negozio" p.pk %}">
                    <img src="{{ p.immagine.url }}" alt="{{ p.titolo }}">
                    <span>{{ p.titolo }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
        
        {% if user.is_authenticated and user.venditore_profile.pk == user_id %}
            <p><a href="{% url "prodotti:pubblica_prodotto" %}"><button type="button" class="button-pubblica">Pubblica prodotto</button></a></p>
        {% endif %}
        
        {% if user.is_authenticated and user.venditore_profile.pk == user_id %}
            <p>
                <a href="{% url "utenti:modifica_profilo_venditore" user_id %}?next={{ request.path }}"><button type="button" class="button-modifica">Modifica profilo</button></a>
                <a href="{% url "utenti:elimina_account" user.pk %}?next={{ request.path }}"><button type="button" class="button-elimina">Elimina account</button></a>
            </p>
        {% endif %}
        
    {% endif %}

    {% if next %}
        <p><a href="{{ next }}?terms={{ terms }}">Torna ai risultati della ricerca</a></p>
    {% endif %}

{% endblock %}