<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica {{ prodotto.title }}</title>
</head>
<body>
    <h1>Modifica di {{ prodotto.titolo }}</h1>
    
    <form method="POST" action="{% url "modifica_prodotto" prodotto.pk %}" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Modifica</button>
        <a href="{% url "pagina_negozio" prodotto.pk %}"><button type="button">Annulla</button></a>
    </form>
</body>
</html>