<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Ordine</title>
</head>
<body>
    <h1>Ordine di acquisto per {{ prodotto.titolo }}</h1>
    
    <p>Totale ordine: {{ prodotto.prezzo }}</p>
    
    <form method="POST" action="{% url "ordine" prodotto.pk %}"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Conferma ordine</button>
    </form>
    
    <a href="{{ next }}">Annulla ordine</a>
</body>
</html>