{% extends "base.html" %}

{% load static %}

{% block title %} {{ prodotto.titolo }} {% endblock %}

{% block content %}
    
    <h2>{{ prodotto.titolo }}</h2>
    
    <p>{{ prodotto.descrizione }}</p>
    
    <p>Genere: {{ prodotto.genere }}</p>
    
    {% for img in prodotto.immagini.all %}
        <img src="{% static img.img %}" alt="{{ img.testo_alternativo }}" width="247" height="192">
    {% endfor %}
    
    <p>Data di rilascio: {{ prodotto.data_rilascio }}</p>
    <p>Sviluppatore: <a href="{% url "profilo_venditore" prodotto.venditore.pk %}">{{ prodotto.venditore.nome }}</a></p>
    
    <p>
        Prezzo: {{ prodotto.prezzo }} 
        
        {%  if user.venditore_profile.type != "venditore" %}
            {% if user.acquirente_profile.type == "acquirente" and prodotto in user.acquirente_profile.prodotti.all %}
                Acquistato
            {% elif user.is_authenticated %}
                <a href="{% url "ordine" prodotto.pk %}"><button>Acquista</button></a>
            {% else %}
                <a href="{% url "login" %}?next={{ request.path }}">Accedi</a> per acquistare
            {% endif %}
        {% endif %}
    </p>
    
    <p>Requisiti: {{ prodotto.requisiti }}</p>
    
    <h3>Domande</h3>
    {% if user.acquirente_profile.type == "acquirente" %}
        <a href="{% url "fai_domanda" prodotto.pk %}"><button>Fai una domanda</button></a>
    {% endif %}
    {% for d in prodotto.domande.all %}
        <p><strong><a href="{% url "profilo_acquirente" d.utente.pk %}">{{ d.utente.nome}}</a>: {{ d.testo }}</strong></p>
        {% if d.risposta != "" %}
            <p><a href="{% url "profilo_acquirente" d.utente_risposta.pk %}">{{ d.utente_risposta.nome }}</a>: {{ d.risposta }}</p>
        {% elif user.acquirente_profile.type == "acquirente" and prodotto in user.acquirente_profile.prodotti.all %}
            <a href="{% url "rispondi_domanda" d.pk %}"><button>Rispondi</button></a>
        {% endif %}
    {% endfor %}
    
    <h3>Recensioni</h3>
    {% if user.acquirente_profile.type == "acquirente" and prodotto in user.acquirente_profile.prodotti.all and not user_ha_scritto_recensione %}
        <a href="{% url "scrivi_recensione" prodotto.pk %}"><button>Scrivi recensione</button></a>
    {% endif %}
    {% for r in prodotto.recensioni.all %}
        <p><strong>Utente: <a href="{% url "profilo_acquirente" r.utente.pk %}">{{ r.utente.nome }}</a>, Voto: {{ r.voto }}</strong></p>
        <p>Pubblicata il {{ r.data_pubblicazione }}</p>
        <p>{{ r.testo }}</p>
        {% if r in user.acquirente_profile.recensioni.all %}
            <a href="{% url "modifica_recensione" r.pk %}"><button>Modifica</button></a>
            <a href="{% url "elimina_recensione" r.pk %}"><button>Elimina</button></a>
        {% endif %}
    {% endfor %}

    {% if next %}
        <p><a href="{{ next }}?terms={{ terms }}">Torna ai risultati della ricerca</a></p>
    {% endif %}
    
    {% include "footer.html" %}
    
{% endblock %}