<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Scrivi recensione</title>
</head>
<body>
    <h1>Scrivi recensione di {{ prodotto.titolo }}</h1>
    
    <form method="POST" action="{% url "scrivi_recensione" prodotto.pk %}"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Pubblica</button>
        <a href="{% url "pagina_negozio" prodotto.pk %}"><button type="button">Annulla</button></a>
    </form>
</body>
</html>