<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <h1>Main Quest</h1>
    
    {% block nav %}
    <nav>
        {% if not user.is_authenticated %}
            <a href="{% url "login" %}?next={{ request.path }}">Accedi</a>
            <a href="{% url "register" %}?next={{ request.path }}">Registrati</a>
        {% else %}
            {% if user.acquirente_profile %}
                <strong>{{ user.acquirente_profile.nome }}</strong>
                <a href="{% url "profilo_acquirente" user.acquirente_profile.pk %}">Area personale</a>
            {% elif user.venditore_profile %}
                <strong>{{ user.venditore_profile.nome }}</strong>
                <a href="{% url "profilo_venditore" user.venditore_profile.pk %}">Area personale</a>
            {% endif %}
            <a href="{% url "logout" %}">Logout</a>
        {% endif %}
    
        <h3>Cerca nello store</h3>
        <form method="POST" action="{% url "risultati_ricerca" %}"> {% csrf_token %}
            {{ search_form.as_p }}
            <input type="submit" value="Cerca">
        </form>
    </nav>
    {% endblock %}
    
    {% block content %}
    {% endblock %}
</body>
</html>