<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <h1>Main Quest</h1>
    
    <nav>
        {% if not user.is_authenticated %}
            <a href="{% url "login" %}">Accedi</a>
            <a href="{% url "register" %}">Registrati</a>
        {% else %}
            <a href="{% url "area_personale" %}">Area personale</a>
        {% endif %}
    </nav>
    
    {%  block content %}
    {%  endblock %}
</body>
</html>