{% extends "base.html" %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    
    <h3>Videogiochi più popolari</h3>
    <ul>
    {% for p in popolari %}
        <li><a href="{% url "pagina_negozio" p.pk %}">{{ p.titolo }}</a></li>
    {% endfor %}
    </ul>
    
    <h3>Videogiochi usciti di recente</h3>
    <ul>
    {% for r in recenti %}
        <li><a href="{% url "pagina_negozio" r.pk %}">{{ r.titolo }}</a></li>
    {% endfor %}
    </ul>
    
    <h3>Cerca nello store</h3>
    <form method="POST" action="{% url "risultati_ricerca" %}"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cerca">
    </form>

{% endblock %}