{% extends "base.html" %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    
    {% if consigliati is not None %}
        <div class="giochi-consigliati">
            <h3>Videogiochi consigliati per te</h3>
            <ul class="lista-giochi">
            {% for c in consigliati %}
                {% if not c.oscurato and not c.venditore.oscurato %}
                    <li>
                        <a href="{% url "prodotti:pagina_negozio" c.pk %}">
                            <img src="{{ c.immagine.url }}" alt="{{ c.titolo }}">
                            <span>{{ c.titolo }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <div class="giochi-popolari">
        <h3>Videogiochi più popolari</h3>
        <ul class="lista-giochi">
        {% for p in popolari %}
            {% if not p.oscurato and not p.venditore.oscurato %}
                <li>
                    <a href="{% url "prodotti:pagina_negozio" p.pk %}">
                        <img src="{{ p.immagine.url }}" alt="{{ p.titolo }}">
                        <span>{{ p.titolo }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    
    <div class="giochi-recenti">
        <h3>Videogiochi usciti di recente</h3>
        <ul class="lista-giochi">
        {% for r in recenti %}
            {% if not r.oscurato and not r.venditore.oscurato %}
                <li>
                    <a href="{% url "prodotti:pagina_negozio" r.pk %}">
                        <img src="{{ r.immagine.url }}" alt="{{ r.titolo }}">
                        <span>{{ r.titolo }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    
{% endblock %}