<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Accedi</title>
</head>
<body>
    <h1>Main Quest</h1>
    
    <h2>Accedi</h2>

    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Accedi</button>
    </form>

    {% if next %}
        <p><a href="{{ next }}">Annulla</a></p>
    {% endif %}

    {% include "footer.html" %}

    <!-- parte del messaggio di conferma avvenuta o non avvenuta registrazione-->
    {% if messages %}
        <div id="message-container">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        // chiama la funzione quando viene caricato il contenuto del DOM
        document.addEventListener("DOMContentLoaded", function() {
            const messageContainer = document.getElementById('message-container');
            if (messageContainer) {
                // Mostra il message-container come popup
                alert(messageContainer.innerText);
            }
        });
    </script>
</body>
</html>