{% extends "base.html" %}

{% load static %}

{% block title %} Risultati ricerca {% endblock %}

{% block content %}
    
    <h1>Risultati ricerca</h1>
    
    {% if nessun_risultato %}
        <p>La ricerca non ha prodotto risultati</p>
    {% else %}
        {% if prodotti %}
            <h3>Videogiochi</h3>
            <ul>
            {% for p in prodotti %}
                <li><a href="{% url "pagina_negozio" p.pk %}">{{ p.titolo }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% if utenti %}
            <h3>Utenti</h3>
            <ul>
            {% for u in utenti %}
                <li><a href="{% url "profilo_acquirente" u.pk %}">{{ u.nome }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% if editori %}
            <h3>Editori</h3>
            <ul>
            {% for e in editori %}
                <li><a href="{% url "profilo_editore" e.pk %}">{{ e.nome }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% if sviluppatori %}
            <h3>Sviluppatori</h3>
            <ul>
            {% for s in sviluppatori %}
                <li><a href="{% url "profilo_sviluppatore" s.pk %}">{{ s.nome }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    
    {% include "footer.html" %}
    
{% endblock %}