{% extends "base.html" %}

{% load static %}

{% block title %} Risultati ricerca {% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    
    <h1>Risultati ricerca</h1>
    
    {% if nessun_risultato %}
        <p>La ricerca non ha prodotto risultati</p>
    {% else %}
        {% if prodotti %}
            <h3>Videogiochi</h3>
            <ul>
            {% for p in prodotti %}
                <li><a href="{% url "pagina_negozio" p.pk %}?next={{ request.path }}&terms={{ terms }}">{{ p.titolo }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% if acquirenti %}
            <h3>Utenti</h3>
            <ul>
            {% for a in acquirenti %}
                <li><a href="{% url "profilo_acquirente" a.pk %}?next={{ request.path }}&terms={{ terms }}">{{ a.nome }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% if venditori %}
            <h3>Venditori</h3>
            <ul>
            {% for v in venditori %}
                <li><a href="{% url "profilo_venditore" v.pk %}?next={{ request.path }}&terms={{ terms }}">{{ v.nome }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    
{% endblock %}